<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ project.name }}</title>

    <link href="/ui/web/css/bootstrap.min.css" rel="stylesheet">
    <link href="/ui/web/css/agency.css" rel="stylesheet">

    {% include 'web/inc/head.twig' %}

</head>

<body id="page-top" class="index">

<!-- Navigation -->
{% include 'web/inc/navbar.twig' %}

{{ block('content') }}

{% include 'web/inc/footer.twig' %}

{% include 'web/inc/modals.twig' %}

{% include 'web/inc/scripts.twig' %}

</body>
</html>